In [26]:
import sys
import time
import pandas as pd
sys.path.append('/home/saulo/projects/cpl/src')

from cpl.utils import db_onto, db_ap, flatten
from cpl.sscrowd import sscrowd_scores
from cpl.promotion import promote_seeds, all_promoted_patterns, all_promoted_instances

In [27]:
iteration = 1
max_promotions = 15
limit = 5000
T = 3

category = db_onto.find_one({'category_name':'fruit'})
        
df_all_promoted_instances = all_promoted_instances()
df_all_promoted_patterns = all_promoted_patterns()

In [35]:
sscrowd_s = sscrowd_scores()

tot_s = time.time()

last_promoted_patterns = category['promoted_patterns'][iteration-1]
promoted_instances = list(flatten(category['promoted_instances']))
promoted_patterns = list(flatten(category['promoted_patterns']))

#get the promoted patterns of the mutex exception categories
mutex_query = (db_onto.ontology.
               find({'category_name':{"$in":category['mutex_exceptions']}}))

mutex_patterns = list(flatten([i['promoted_patterns'] for i in mutex_query]))

#extraction step
#count the ocurrences of instances that co-occur with the
#positive promoted patterns in the last iteration
#without considering instances that were already promoted
pos = list(db_ap.find({"ctx_pattern":{"$in":last_promoted_patterns},
                                       "noun_phrase":{"$nin":promoted_instances},
                                       "counter":{"$gt":1}}))

if (pos):  #if at least one positive and one negative pattern was found

    df_pos = (pd.DataFrame(pos)
              .join(sscrowd_s[sscrowd_s.category_name == category['category_name']]['score'], on='ctx_pattern')
              .fillna(1)
              .assign(counter=lambda df: (df['counter']*df['score']))
              .groupby('noun_phrase')
              ['counter']
              .sum()
              .sort_values(ascending=False)
              .head(limit)
              .rename('count_pos'))

    print(df_pos)

    #count the ocurrences of instances that co-occur with negative patterns
    df_neg = (df_all_promoted_patterns
              [~df_all_promoted_patterns['ctx_pattern']
               .isin(promoted_patterns + mutex_patterns)]
              .groupby('noun_phrase')
              ['counter']
              .sum()
              .rename('count_neg'))

    joined = (pd.concat([df_pos,df_neg], axis=1, sort=False)
              .fillna(0)
              .assign(filter_check=lambda df:  
                      (df['count_pos'] >= df['count_neg']*T) &  # filter criterion #1
                      (df['count_pos'] >= 2)))                  # filter criterion #2

    new_instances=list((joined[joined['filter_check']]                 # filter step
                        .sort_values(by='count_pos', ascending=False)  # rank step
                        .head(max_promotions)                          # promote step
                        .index.values))

    #update ontology with the promoted instances
#    db_cpl.ontology.update_one({'category_name':category['category_name']},
#                               {'$set':{'promoted_instances.'+str(iteration):new_instances}})
else:
    new_instances = []
    
tot_e = time.time()
print(tot_e - tot_s)

print(new_instances)

noun_phrase
bananas            46.0
apple              16.0
tomatoes           14.0
almonds             8.0
guava               6.0
cape gooseberry     6.0
peach               6.0
papayas             6.0
melons              6.0
lychee              6.0
raisins             6.0
berries             6.0
cranberries         6.0
coconuts            6.0
rambutan            4.0
apricot             4.0
avocados            4.0
cabbage             4.0
cactus              4.0
pomegranates        4.0
plum                4.0
grapefruits         4.0
sour cherries       4.0
lanzones            4.0
pear                4.0
persimmons          4.0
plantains           4.0
durians             4.0
Name: count_pos, dtype: float64
0.033641815185546875
['bananas', 'almonds', 'guava', 'cape gooseberry', 'peach', 'papayas', 'melons', 'lychee', 'raisins', 'cranberries', 'grapefruits', 'plantains', 'persimmons', 'pear', 'lanzones']

In [32]:
df_pos

noun_phrase
bananas            23.0
apple               8.0
tomatoes            7.0
almonds             4.0
guava               3.0
cape gooseberry     3.0
peach               3.0
papayas             3.0
melons              3.0
lychee              3.0
raisins             3.0
berries             3.0
cranberries         3.0
coconuts            3.0
rambutan            2.0
apricot             2.0
avocados            2.0
cabbage             2.0
cactus              2.0
pomegranates        2.0
plum                2.0
grapefruits         2.0
sour cherries       2.0
lanzones            2.0
pear                2.0
persimmons          2.0
plantains           2.0
durians             2.0
Name: count_pos, dtype: float64

In [121]:
s1 = pd.Series([40,50,60,70,80],index=['pira','americana','sao paulo','sao carlos','marilia']).rename('maluco')
s2 = pd.Series([5,35,25,15], index=['pira','sao paulo','sao carlos','americana'])
s3 = pd.Series([])

x = pd.concat([s1,s3], axis=1, sort=False)

x

            maluco   0
pira            40 NaN
americana       50 NaN
sao paulo       60 NaN
sao carlos      70 NaN
marilia         80 NaN

In [20]:
last_promoted_instances = category['promoted_instances'][iteration-1]
all_promoted_patterns = list(flatten(category['promoted_patterns']))
promoted_instances = list(flatten(category['promoted_instances']))

#get the promoted instances of the mutex exception categories
mutex_query = (db_onto.
               find({'category_name':{"$in":category['mutex_exceptions']}}))

mutex_instances = list(flatten([i['promoted_instances'] for i in mutex_query]))

#extraction step
#count the ocurrences of patterns that co-occur with the
#positive promoted instances in the last iteration
#without considering patterns that were already promoted
pos = list(db_ap.find({"noun_phrase":{"$in":last_promoted_instances},
                                       "ctx_pattern":{"$nin":all_promoted_patterns},
                                       "counter":{"$gt":1}}))

if (pos):  #if at least one positive and one negative instance was found
    df_pos = (pd.DataFrame(pos)
              .groupby('ctx_pattern')
              ['counter']
              .sum()
              .sort_values(ascending=False)
              .head(limit)
              .rename('count_pos'))
    
    #count the ocurrences of patterns that co-occur with negative instances
    df_neg = (df_all_promoted_instances
              [~df_all_promoted_instances['noun_phrase'].isin(promoted_instances + mutex_instances)]
              .groupby('ctx_pattern')
              ['counter']
              .sum()
              .rename('count_neg'))

    joined = (pd.concat([df_pos, df_neg], axis=1, sort=False)
              .fillna(0)
              .assign(filter_check=lambda df:  
                      (df['count_pos'] >= df['count_neg']*T) &   # filter criterion #1
                      (df['count_pos'] >= 2)))                   # filter criterion #2
    
    df_count = (df_all_promoted_instances
                [df_all_promoted_instances['noun_phrase'].isin(promoted_instances)]
                .groupby('ctx_pattern')
                ['counter']
                .sum()
                .rename('count_cnt'))
    
    joined = (joined.join(df_count)
              .fillna(0)
              .assign(precision=lambda df:
                      df['count_pos']/df['count_cnt']))  #rank criterion

    promoted_patterns = list((joined[joined['filter_check']]                 # filter step                                  
                              .sort_values(by='precision', ascending=False)  # rank step
                              .head(max_promotions)                          # promote step
                              .index.values))

    #update ontology with the promoted patterns
#    db_onto.update_one({'category_name':category['category_name']},
#                               {'$set':{'promoted_patterns.'+str(iteration):promoted_patterns}})

else:
    promoted_patterns = []
    
print(promoted_patterns)

[]

In [22]:
joined.sort_values(by=['precision','count_pos'], ascending=[False,False])

,count_pos,count_neg,score,filter_check,count_cnt,precision
made from _,0.0,1597.0,0.0,False,259.0,0.0
wine made from _,0.0,0.0,0.0,False,56.0,0.0
produced from _,0.0,60.0,0.0,False,63.0,0.0
_ destined for,0.0,117.0,0.0,False,47.0,0.0
fruit such as _,0.0,7.0,0.0,False,102.0,0.0
crops such as _,0.0,287.0,0.0,False,76.0,0.0
_ grown on,0.0,22.0,0.0,False,35.0,0.0
_ are grown in,0.0,22.0,0.0,False,45.0,0.0
made with _,0.0,519.0,0.0,False,68.0,0.0
made of _,0.0,5639.0,0.0,False,47.0,0.0
_ are limited to,0.0,86.0,0.0,False,27.0,0.0
is made from _,0.0,214.0,0.0,False,29.0,0.0
planted with _,0.0,47.0,0.0,False,34.0,0.0
_ used in,0.0,1532.0,0.0,False,27.0,0.0
largest producer of _,0.0,180.0,0.0,False,50.0,0.0
wide variety of _,0.0,1043.0,0.0,False,27.0,0.0
found in _,0.0,34948.0,0.0,False,40.0,0.0
different varieties of _,0.0,36.0,0.0,False,26.0,0.0
wines made from _,0.0,0.0,0.0,False,20.0,0.0
filled with _,0.0,1404.0,0.0,False,27.0,0.0
_ used for,0.0,1438.0,0.0,False,23.0,0.0
is produced from _,0.0,9.0,0.0,False,18.0,0.0
bobbing for _,0.0,0.0,0.0,False,15.0,0.0
citrus fruits such as _,0.0,0.0,0.0,False,17.0,0.0
_ were planted in,0.0,12.0,0.0,False,15.0,0.0
_ come from,0.0,329.0,0.0,False,18.0,0.0
_ affected by,0.0,304.0,0.0,False,14.0,0.0
produce such as _,0.0,15.0,0.0,False,12.0,0.0
feed on _,0.0,969.0,0.0,False,31.0,0.0
Working with _,0.0,80.0,0.0,False,12.0,0.0
...,...,...,...,...,...,...
“ Make in _,0.0,3.0,0.0,False,0.0,NaN
“ Rising of _,0.0,2.0,0.0,False,0.0,NaN
“ Sounds Like _,0.0,4.0,0.0,False,0.0,NaN
“ Wear suitable protective _,0.0,4.0,0.0,False,0.0,NaN
“ Welcome to _,0.0,2.0,0.0,False,0.0,NaN
“ Works on _,0.0,2.0,0.0,False,0.0,NaN
“ agricultural production Some _,0.0,3.0,0.0,False,0.0,NaN
“ belonging to _,0.0,2.0,0.0,False,0.0,NaN
“ frit is interstitial _,0.0,2.0,0.0,False,0.0,NaN
“ oppositional handling of _,0.0,2.0,0.0,False,0.0,NaN
“ ownership of _,0.0,2.0,0.0,False,0.0,NaN
“ princes of _,0.0,2.0,0.0,False,0.0,NaN
“ questions of _,0.0,2.0,0.0,False,0.0,NaN
†Swing to _,0.0,2.0,0.0,False,0.0,NaN
… finds that _,0.0,2.0,0.0,False,0.0,NaN
∞ Returned to _,0.0,2.0,0.0,False,0.0,NaN
≥3 indicates high _,0.0,2.0,0.0,False,0.0,NaN
♪ aired in _,0.0,2.0,0.0,False,0.0,NaN
♪ ♪ aired in _,0.0,2.0,0.0,False,0.0,NaN
不只有緣 Lucky in _,0.0,7.0,0.0,False,0.0,NaN
主盟人 Gao returned to _,0.0,2.0,0.0,False,0.0,NaN
大阪 in _,0.0,3.0,0.0,False,0.0,NaN
大黒天 Benzaiten arrived in _,0.0,2.0,0.0,False,0.0,NaN
孔紹 moved from _,0.0,3.0,0.0,False,0.0,NaN
尖兵之翼——第五届中国无人机大会暨展览会 held at _,0.0,2.0,0.0,False,0.0,NaN
李桑 advanced into _,0.0,2.0,0.0,False,0.0,NaN
柴船头 meaning jetty for _,0.0,2.0,0.0,False,0.0,NaN
用夷变夏 recognising that _,0.0,2.0,0.0,False,0.0,NaN
盧龍 headquartered in _,0.0,4.0,0.0,False,0.0,NaN
盧龍 headquartered in modern _,0.0,39.0,0.0,False,0.0,NaN

In [98]:
df_x_neg[df_x_neg]

                             _id  counter             ctx_pattern noun_phrase
0       5cb09998014f1f866562b1c1     18.0               Born in _    a coruña
1       5cb09998014f1f866562b1c6      2.0      Galician city of _    a coruña
2       5cb09998014f1f866562b1d0      2.0       Spanish city of _    a coruña
3       5cb09998014f1f866562b1d2     10.0   Spanish province of _    a coruña
4       5cb09998014f1f866562b1d3      2.0  Spanish provinces of _    a coruña
5       5cb09998014f1f866562b1d5      4.0       Vuelta began in _    a coruña
6       5cb09998014f1f866562b1f8      2.0              _ known as    a coruña
7       5cb09998014f1f866562b1ff      2.0  _ playing another year    a coruña
8       5cb09998014f1f866562b20a      2.0        _ was founded in    a coruña
9       5cb09998014f1f866562b218      4.0            arrived in _    a coruña
10      5cb09998014f1f866562b21a     11.0              based in _    a coruña
11      5cb09998014f1f866562b21b      4.0              began in _    a coruña
12      5cb09998014f1f866562b220     27.0               born in _    a coruña
13      5cb09998014f1f866562b222      2.0              built at _    a coruña
14      5cb09998014f1f866562b226      2.0         club based in _    a coruña
15      5cb09998014f1f866562b228      2.0             come into _    a coruña
16      5cb09998014f1f866562b22e      2.0            created in _    a coruña
17      5cb09998014f1f866562b233      3.0               died in _    a coruña
18      5cb09998014f1f866562b23f      3.0             formed in _    a coruña
19      5cb09998014f1f866562b242      2.0            granted to _    a coruña
20      5cb09998014f1f866562b244      2.0         had come into _    a coruña
21      5cb09998014f1f866562b24a      4.0               held in _    a coruña
22      5cb09998014f1f866562b24b      3.0           is based in _    a coruña
23      5cb09998014f1f866562b24e      2.0         is located in _    a coruña
24      5cb09998014f1f866562b253      3.0             landed at _    a coruña
25      5cb09998014f1f866562b259      2.0              lived in _    a coruña
26      5cb09998014f1f866562b25c      6.0            located in _    a coruña
27      5cb09998014f1f866562b25f      2.0            married in _    a coruña
28      5cb09998014f1f866562b262      6.0              moved to _    a coruña
29      5cb09998014f1f866562b26d      3.0             played in _    a coruña
...                          ...      ...                     ...         ...
395612  5cb09f68014f1f8665c27f73      2.0                set in _        łódź
395613  5cb09f68014f1f8665c27f75     11.0            settled in _        łódź
395614  5cb09f68014f1f8665c27f7e      4.0               shot in _        łódź
395615  5cb09f68014f1f8665c27f83      2.0       small town near _        łódź
395616  5cb09f68014f1f8665c27f84      2.0  soccer team based in _        łódź
395617  5cb09f68014f1f8665c27f8b      2.0  sports club based in _        łódź
395618  5cb09f68014f1f8665c27f8e      2.0             staged in _        łódź
395619  5cb09f68014f1f8665c27f97      2.0            studied in _        łódź
395620  5cb09f68014f1f8665c27fa4      2.0         team based in _        łódź
395621  5cb09f68014f1f8665c27fad      3.0          took 10th in _        łódź
395622  5cb09f68014f1f8665c27faf      2.0           took 4th at _        łódź
395623  5cb09f68014f1f8665c27fb3      4.0            trained in _        łódź
395624  5cb09f68014f1f8665c27fb7      3.0        transferred to _        łódź
395625  5cb09f68014f1f8665c27fce     89.0           was born in _        łódź
395626  5cb09f68014f1f8665c27fd1      2.0         was called to _        łódź
395627  5cb09f68014f1f8665c27fd6      2.0       was educated in _        łódź
395628  5cb09f68014f1f8665c27fd8      2.0         was formed in _        łódź
395629  5cb09f68014f1f8665c27fd9      3.0        was founded in _        łódź
395630  5cb09f68014f1f8665c27fdb      2.0              was from _        łódź
395631  5cb09f68014f1f8665c27fdc      2.0           was held in _        łódź
395632  5cb09f68014f1f8665c27fdd      2.0                was in _        łódź
395633  5cb09f68014f1f8665c27fe2      3.0          was moved to _        łódź
395634  5cb09f68014f1f8665c27fe6      2.0           was shot in _        łódź
395635  5cb09f68014f1f8665c27fe8      3.0    was transferred to _        łódź
395636  5cb09f68014f1f8665c27feb      2.0               went to _        łódź
395637  5cb09f68014f1f8665c27fed      4.0          were held in _        łódź
395638  5cb09f68014f1f8665c27ff3      2.0        were staged in _        łódź
395639  5cb09f68014f1f8665c27ffb      2.0                won at _        łódź
395640  5cb09f68014f1f8665c27ffc      2.0                won in _        łódź
395641  5cb09f68014f1f8665c28001      2.0              works in _        łódź

[395642 rows x 4 columns]

In [11]:
def sscrowd():
    columns = ['category','ctx_pattern','score']
    data = [['city','cities including _','0.8']]
    
    df_sscrowd = pd.DataFrame(data=data, columns=columns).set_index('ctx_pattern')
    
    return df_sscrowd

x = sscrowd()

In [12]:
x

  category         ctx_pattern score
0     city  cities including _   0.8

In [13]:
x = sscrowd_scores()
x[x.category_name == 'fruit']

                                                _id category_name score
ctx_pattern
_ grown in                 5cb49e4e10d4cc4a867a6a1e         fruit     1
most wineries today the _  5cb49e5910d4cc4a867a6a1f         fruit     0
translated as full of _    5cb49e5e10d4cc4a867a6a20         fruit     0